<h1>Artists</h1>

<%= link_to "New Artist", "/artists/new", method: :get %>

<ul id="artists_list">
   <% @artists.each do |artist| %>
      <li><%= artist.name %> | <%= button_to "Delete #{artist.name}", "/artists/#{artist.id}", method: :delete %> | <%= link_to "Edit #{artist.name}", "/artists/#{artist.id}/edit" %></li>
   <% end %>
</ul>